.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  padding-bottom: 20px;
}

.header_text {
  font-family: var(--font-syne);
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: var(--Text-Accent, #381664);
}

.header_description {
  font-family: var(--font-outfit);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: var(--Text-Sec, #00000099);
  max-width: 860px;
}

.tip {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}

.header_description_highlighted {
  font-weight: 700;
  color: var(--Text-Accent, #381664);
}

.body {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 56px;
  background: url("/preferences_bg.svg") no-repeat top right,
  linear-gradient(175.85deg, #010E2E 2.13%, #041536 95.03%);
  /* background-size: contain; */
  /* background-position: top right; */
  /* background-repeat: no-repeat; */
  gap: 20px;
  background-size: auto;
  position: relative;
  padding: 32px;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head {
  top: 46px;
  left: 55px;
  color: #FFFFFF;
  font-family: var(--font-syne);
  font-weight: 700;
  font-size: 44px;
}

.subHeda {
  color: #FFFFFFB2;
  top: 172px;
  left: 55px;
  font-family: var(--font-poppins);
  font-weight: 400;
  font-size: 26.88px;
  line-height: 160%;
  letter-spacing: 0.2px;
}

.tipsText {
  font-weight: 700;
  color: #FFFFFF;
  font-family: var(--font-syne);
  margin-block-start: 4px;
  font-size: 24px;
  line-height: 29px;
}

.highlightedWords {
  font-weight: 700;
  font-family: var(--font-syne);
  color: #FFFFFF4D;
  font-size: 24px;
  line-height: 29px;
}

.tips {
  position: absolute;
  color: #fff;
  width: 432px;
  bottom: 32px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 23px;
  font-family: var(--font-roboto);
  font-size: 16px;
  line-height: 160%;
  font-weight: 700;
  padding-inline: 32px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  justify-items: center;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1132px) {
  .body {
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 0.6807;
    padding: 32px;
    max-height: 974px;
  }

  .texts {
    order: 3;
    width: 100%;
  }

  .tips {
    order: 1;
    position: static;
    width: 100%;
    gap: 16px;
    padding-inline: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 100%;
    padding: 0;
    margin-block-start: 46px;
  }

  .header {
    padding-block-end: 30px;
  }

  .header_text {
    font-size: 28px;
    line-height: 34px;
  }

  .highlighted {
    order: 2;
  }

  .tipsText,
  .highlightedWords {
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 742px) {
  .body {
    height: auto;
    background: url("/preferences_bg.svg") no-repeat top right,
    linear-gradient(175.85deg, #010E2E 2.13%, #041536 95.03%);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 16px;
    gap: 16px;
    max-height: none;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
    padding: 0;
  }

  .header_text {
    font-size: 24px;
    line-height: 29px;
  }

  .tips {
    padding-block-start: 62px;
    gap: 16px;
    margin-block-start: 0;
    padding-inline: 0;
  }

  .highlighted {
    font-size: 20px;
    line-height: 24px;
  }
}
