.body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 56px;
  align-items: center;
}

.header_texts {
    text-align: center;
    flex-direction: column;
    gap: 16px;
    max-width: 860px;
    display: flex;
}

.head {
  font-family: var(--font-syne);
  font-weight: 700;
  font-size: 36px;
  color: #381664;
}

.subHead {
  font-family: var(--font-outfit);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #00000099;

  color: rgba(0, 0, 0, 0.6);


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}

.banners {
  display: grid;
  row-gap: 32px;
  column-gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  inline-size: 100%;
}

.slider {
  display: none;
}

@media (max-width: 1132px) {
  .banners {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .head {
    font-size: 28px;
    line-height: 34px;
    color: #381664;
  }

  .subHead {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 742px) {
  .banners {
    display: none;
  }

  .body {
    gap: 16px;
  }

  .swiperSlider:global(.swiper) {
    padding-inline-end: 16px;
    margin-inline-start: -16px;
  }

  .slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% + 32px);
    margin-inline-end: -32px;
  }

  .slide {
    max-inline-size: 252px;
  }

  .head {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #381664;
  }

  .subHead {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
    text-align: justify;
    text-align-last: center;
  }
}