.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #440A8F;
  padding: 20px 50px;
  position: relative;
  z-index: 1000;
}

.header_nav {
  display: flex;
  gap: 44px;
}

.bttn_link {
  display: flex;
  justify-content: center;
  padding: 5px 12px;
  border-radius: 32px;
  position: relative;
  transition: all 0.3s ease;
  font-family: var(--font-syne);
}

.bttn_link::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 40px;
  transition: all 0.3s ease;
  z-index: -1;
}

.bttn_link:hover::before {
  border-color: #673AB780;
  background-color: #673AB70A;
}

.header_bttn {
  background: transparent;
  color: #512DA8;
  border: none;
  cursor: pointer;

  font-family: var(--font-syne);
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.header_bttn_sign_up {
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 0.46px;

  padding: 6px 22px;

  background: rgba(103, 58, 183, 0.04);
  border: 2px solid rgba(103, 58, 183, 0.5);
  border-radius: 32px;
  font-weight: 700;
}

.mobile_menu_icon {
  display: none;
  cursor: pointer;
  background-color: #381664;
  border-radius: 16px;
  padding: 6px 24px;
  line-height: 1;
  width: 60px;
  height: 28px;
}

.mobile_fullscreen_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #00174B 0%, #23013E 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  z-index: 10000;
}

.mobile_menu_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_button {
  background-color: #ffffff00;
  border: 0px;
}

.mobile_logo_color {
  color: #fff;
}

.mobile_menu_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 28px;
}

.mobile_menu_content a {
  color: white;
  font-family: var(--font-syne);
  text-decoration: none;
}

.mobile_sign_up {
  height: 42px;
  font-weight: 700;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: 0.46px;
  padding: 6px 24px;
  background: rgba(103, 58, 183, 0.04);
  border: 2px solid rgba(103, 58, 183, 0.5);
  border-radius: 32px;
}

.mobile_link {
  height: 44px;
  padding: 6px 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
}

.mobile_sign_up:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


@media (max-width: 742px) {
  .header {
    padding-block: 20px;
    padding-inline: 16px;
  }

  .header_nav {
    display: none;
  }

  .mobile_menu_icon {
    display: block;
  }
}

.no-scroll {
  overflow: hidden;
}
